* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px black solid;*/
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
ul {
    width: 100%;
}

p {
    color: #A4A6A8;
}
.button {
    background-color: #3D8ACB;
    color: white;
    border-radius: .4em;
    width: 100%;
}

.coffee-item {
    max-height: 60px;
    max-width: 265px;
    min-width: 265px;
    min-height: 60px;
    background-color: beige;
    border-radius: .4em;
    font-size: 1em;
}

.coffee-item:hover {
    background-color: black;
    color: white;
    animation: .8s fadeIn;
}



#coffee-list-container {
    min-width: 700px;
    max-width: 700px;
    min-height: 100px;
    max-height: 500px;
    margin-bottom: auto;
}

#roast-query-label, #roast-add-label, #coffee-query-label, #coffee-add-label {
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
